@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
    --celeste: #d0e9ff;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    font-family: sans-serif;
    list-style: none;
}

/* Flex y generales */
.logo,
.navbar,
.redes,
.item {
    display: flex;
}

footer,
.catalogo {
    display: grid;
}

/* HEADER */
.logo img {
    height: 80px;
}

.ocultar {
    display: none;
}

.title {
    font-size: 35px;
    font-family: "Lobster", cursive, sans-serif;
}

.subtitulo {
    background-color: black;
    height: 25px;
    width: 100vw;
    color: white;
    text-align: end;
    padding-right: 100px;
    font-size: 15px;
    text-transform: uppercase;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--celeste);
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    z-index: 999;
}

#btn-nav {
    font-size: 35px;
    cursor: pointer;
}

.menu li a,
.menu {
    color: black;
    text-decoration: none;
}

.menu li {
    background-color: azure;
    border-radius: 5px;
    margin: 0.5em;
    text-align: center;
    padding: 0.5rem;
    width: 80vw;
}
.menu li,
.descripcion-slide,
h1,
h2,
.derechos,
.name-house,
.resaltado {
    font-weight: bolder;
}

/* MAIN */
#main {
    min-height: 50vh;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    text-transform: uppercase;
}

.slide {
    height: 40vh;
    width: 95vw;
}

.slide .carousel-inner .carousel-item img {
    height: 40vh;
    width: 100%;
}

.descripcion-slide {
    color: black;
    background-color: #c2efffd8;
    border: 1px solid black;
    width: 100%;
    position: absolute;
    border-radius: 0.5em;
    right: 0;
    bottom: 2%;
    font-size: 13px;
}

/* CARD */

.catalogo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}

.item {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
}

.item .foto img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.name-house {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

.resaltado {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #2196fe;
    cursor: pointer;
    padding: 15px;
}

.info {
    padding: 5px;
}

.resaltado:hover {
    opacity: 0.8;
    text-decoration: underline;
    scale: 0.99;
}

.item:hover {
    transform: translateY(-5px);
    border-bottom: 5px solid #2196fe;
}

/* FOOTER */
footer {
    background-color: var(--celeste);
    min-height: 20vh;
    border-top: 4px solid black;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr;
    grid-template-areas:
        "info-footer"
        "redes"
        "derechos";
}

.info-footer {
    grid-area: info-footer;
    padding: 1rem;
    font-size: small;
}

.title-footer {
    font-size: 25px;
    text-decoration: underline;
}

.redes {
    grid-area: redes;
    flex-direction: row;
    padding: 0;
    justify-content: space-evenly;
}

.contactos {
    padding: 0;
}

.contacto {
    font-size: 20px;
}

.contacto:nth-child(1) i {
    color: rgba(144, 0, 0, 0.581);
}

.contacto:nth-child(2) i {
    color: rgb(60, 137, 96);
}

.contacto:nth-child(3) i {
    color: rgba(65, 96, 248, 0.8);
}

.red {
    font-size: 20px;
    cursor: pointer;
}

.red:nth-child(1) i {
    color: rgb(21, 60, 255);
}

.red:nth-child(2) i {
    color: rgb(28, 209, 28);
}

.red:nth-child(3) i {
    color: rgb(194, 19, 188);
}

.derechos {
    border-top: 1px solid gray;
    font-size: 13px;
    text-align: center;
    grid-area: derechos;
    align-self: self-end;
}

@media only screen and (min-width: 600px) {
    /* TABLET */
    /* HEADER */
    .logo img {
        height: 100px;
    }

    /* MAIN */
    img.d-block {
        height: 50vh;
        width: 50vw;
    }

    .slide {
        height: auto;
        width: 95vw;
        max-width: none;
    }

    .descripcion-slide {
        padding: 0.5em;
    }

    .slide .carousel-inner .carousel-item img {
        height: 70vh;
    }

    /* FOOTER */
    .red {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    /*DESKTOP*/
    /* HEADER */

    header,
    footer {
        border-radius: 0%;
    }

    .navbar {
        justify-content: space-around;
    }

    #btn-nav {
        display: none;
    }

    .menu,
    .menu li {
        width: auto;
        display: block;
        cursor: pointer;
    }

    .menu li:hover {
        background-color: #6e97d4dc;
    }

    .logo {
        align-items: center;
    }

    .title {
        font-size: 90px;
    }

    .logo img {
        height: 150px;
        position: absolute;
        top: 27px;
    }

    .subtitulo {
        height: 50px;
        padding-right: 350px;
        font-size: 35px;
    }

    /* MAIN */
    img.d-block {
        height: 90vh;
        width: 10vw;
    }

    .slide {
        height: auto;
        width: 80vw;
        max-width: none;
    }

    .descripcion-slide {
        font-size: 35px;
        padding: 0.5em 2em 0.5em 2em;
        text-transform: uppercase;
    }

    .slide .carousel-inner .carousel-item img {
        height: 85vh;
    }

    /* FOOTER */

    .red i:hover {
        animation: moveUp 1s ease-in-out;
    }

    /* ANIMACION */
    @keyframes moveUp {
        0% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
}
